/*  Nessa classe está localizado os estilos do menu principal*/

/*Todos os Menus*/
#menu_principal li{
display: inline-block;
padding: 10px;
margin: 0;
}
#menu_principal ul {
text-align: center;
}

/*MENU Principal*/

/*Fundo do menu*/
.menu-menu-principal-container {
        background: #000;
    }

        /*Adicção extra do patryck, nao faz porra nenhuma*/
     .menu-menu-principal-container .menu, .menu-menu-principal-container li {
        margin-left: auto;
    }

    /*Remove as bolinhas do lado das listas*/
   .menu-menu-principal-container .menu, .menu-menu-principal-container .sub-menu {
        list-style: none;
    }

    /*Configura todos os links do nosso menu*/
  .menu-menu-principal-container a {
        color: #fff;
        text-decoration: none;
        display: block;
        cursor: pointer;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 0.2em;

    }
    /*Faz os <li>s ficarem na horizontal*/
   .menu-menu-principal-container > .menu > li {
        float: left;
        position: relative;
    }

    /*Configura os links do menu principal*/
   .menu-menu-principal-container > .menu > li > a  {
        padding: 20px;
        margin: 0 5px;
        text-align: center;
        background: #000;
    }

    /* Configura o fundo do menu principal quando com mouse hover */
  .menu-menu-principal-container > .menu > li:hover a {
        border-bottom: 1px solid white;
    }
    /*Hover do submenu*/
   .menu-menu-principal-container > .menu > li:hover > .sub-menu {
        display: block;
    }

     /*Hover do sub-sub-menu*/
   .menu-menu-principal-container > .menu > li > .sub-menu > li:hover .sub-menu{
        display: block;
    }

    /*Configura o estilo do sub-menu*/

    .menu-menu-principal-container> .menu > li > .sub-menu {
        position: absolute;
        top: 50px;
        left: 5px;
        min-width: 50px;
        z-index: 1000;
        display: none;
        background-color: rgba(0,0,0, 0.9);
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    /*Configura o estilo do sub-sub-menu*/
       .menu-menu-principal-container> .menu > li > .sub-menu > li > .sub-menu {
        position: absolute;
        top: -20px;
        left: 100%;
        min-width: 50px;
        z-index: 1000;
        display: none;
        background-color: rgba(0,0,0, 0.7);
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;

    }

    /*Configura os links do submenu*/

    .menu-menu-principal-container > .menu > li > .sub-menu > li > a {
        padding: 10px 20px;
        background-color: transparent;
        border-bottom: 1px solid #f4f4f4;
        margin-left: 10px;
    }
    /*Configura os links do sub-sub-menu*/
    .menu-menu-principal-container > .menu > li > .sub-menu > li > .sub-menu > li a {
        padding: 10px 20px;
        border-bottom: 1px solid #f4f4f4;
        background-color: transparent;
    }

    /*Clearfix para o menu*/
 .menu-menu-principal-container:after {
        content: '.';
        display: block;
        clear: both;
        visibility: hidden;
        line-height: 0;
        height: 0;
}